/**
 * 🎈博客各页面主要样式
 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background: linear-gradient(#fffad0, #fff);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.2);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
// 只能设置背景图片。其他的设置没有效果
// ::-webkit-scrollbar-button {
  // display: inline-block;
  // width: 0;
  // height: 0;
  // border: 5px solid transparent;
  // border-bottom-color: #f90;
// }
